h1{
  color: blue;
  background-color: red;
}
.card-body img{ 
  width: 40%;
  height: 25vh;
  border-radius: 50%;
  margin-left: 30%;
}
.intro{
  width:70%;
}
.intro p{
  font-size:20px;
}
.hello1{
  background-color:#d4ddbf;
  margin-top: -2rem;
}
.hello{
padding: 20px;
background-color: #d4ddbf;
}
.card-title{
  font-weight: bold;
}
.card-text{
  font-size: 20px;
  line-height: 25px;
}
.education h3{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.marks{
  display: flex;
  margin: auto;
  gap: 30px;
  margin-top: 3rem;
}
.marks1{
  box-shadow: 0px 1px 1px 2px black;
  padding: 20px;
  width: 35%;
}
.me h5{
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
.marks1 h4{
  text-align: center;
  font-weight: bold;
}
.marks1 h4:hover{
 color: red;
}
.click i{
  font-size: 35px;
  /* gap: 20px; */
  margin-left: 10px;
  color: green;
}
.inst i{
  color: rgb(207, 122, 122);
}
.linked i{
  color: rgb(62, 141, 172);
}
.facebook i{
  color: blue;
}