<div class="me">
  <h5>About Me</h5>
</div>
<div class="container-fluid hello1">
  <div class="container">
  <div class="card mb-3" style="max-width: 100%; border:none; margin-top: 60px;">
    <div class="row g-6 hello" >
      <div class="col-md-6">
    
        <h4><b>Hello ,I am Prince Kumar Chakram.</b></h4>
        <p class="card-text"><b>I am from jharkhand.I am a front-end developer. Currently I, starting a new position as intern in Click labs. I  have completed my matriculation 
        and intermediate with 92% and 86% respectively.My Hobby is playing cricket. I have successfully published a Research Paper on Multi-Classification of Lotus on IEEE Conference.  </b></p>
      <div class="click">
      <a href=""><i class="fa-brands fa-square-whatsapp"></i></a>
      <a href="" class="inst"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="" class="linked"><i class="fa-brands fa-linkedin"></i></a>
      <a href="" class="facebook"><i class="fa-brands fa-facebook"></i></a>
    </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
            <img src="../images/Prince Profile.jpeg"  alt="...">
        </div>
      </div>
    </div>
  </div>
  </div>
  
  </div>
  <div class="container">
  <div class="education">
    <h3>Education</h3>
    <div class="marks">
      <div class="marks1">
        <h4>Matriculation</h4>
        <p><b>2018-2019</b></p>
        <P>I have completed my Matriculation from Shree Mahesh Academy with a good percentage of 92.</P>
      </div>
      <div class="marks1"> 
        <h4>Intermediate</h4>
        <p><b>2019-2021</b></p>
        <P>I have completed my Intermediate from Inter Science College,Hazaribagh with a decent percentage of 86.</P></div>
      <div class="marks1"> 
        <h4>Bachlor of Technology</h4>
        <p><b>2021-2025</b></p>
        <P>Currently ,I pursuing Bachelor's in Computer Science.
          I am in 6th sem. My overall CGPA is 8.65.
          </P></div>
    </div>
  </div>
  <br><br>